@import "src/theme/theme-variables";

.online
{
  //position: relative;
  text-align: center;
  img
  {
    //margin-left: 5px;
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  div
  {
    //position: absolute;
    //left: 0;
    //top: 3px;
    display: inline-block;
    margin: auto;
    padding: 0;
    color: white;
    font-size: 10px;
    font-weight: 500;
  }
}
.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
