.transaction-message
{
  overflow: hidden;
}

.eth-address
{
  text-transform: uppercase;
  color: white;
  background-color: black;
  font-size: large;
  font-weight: 600;
  font-family: monospace;
  padding: 5px;
}

