.btn-group.transaction
{
  width: 100%;
  button
  {
    width: 33%;
  }
}

.transaction-btn
{
  margin-bottom: 5px;
  margin-top: 5px;
}

.tab-content
{
  padding: 20px;
}

p,label
{
  color: black !important;
  font-weight: 500 !important;
}
